--extra-index-url https://download.pytorch.org/whl/cpu

# Core dependencies
torch
torchaudio

# Replace openai-whisper with faster-whisper
faster-whisper==1.0.3
google-generativeai

# FastAPI and server dependencies
fastapi
uvicorn
python-multipart
pydantic
pydantic-settings
python-dotenv

# Database and transformer dependencies
qdrant-client
sentence-transformers

# Audio processing
ffmpeg-python
numpy
